<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CLOCKWORK_ENABLE" value="false" />
        <env name="MONGODB_DATABASE" value="northstar-test"/>
        <env name="MYSQL_DATABASE" value="rogue_test"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SIXPACK_ENABLED" value="false"/>
        <env name="DS_ENABLE_ADMIN_ROUTES" value="true"/>
        <env name="DS_ENABLE_CUSTOMER_IO" value="true"/>
        <env name="DS_ENABLE_DELETE_APIS" value="true"/>
        <env name="DS_ENABLE_RATE_LIMITING" value="true"/>
        <env name="DS_ENABLE_PASSWORD_GRANT" value="true"/>
        <env name="DS_OPTIONAL_FIELDS" value="false"/>
        <env name="ROCK_THE_VOTE_API_FAKER" value="false"/>
    </php>
</phpunit>
