$google-blue: #4285F4;
$google-gray: #EEE;

.google-login,
.google-login:link {
  padding: 0px 10px 0px 0px;
  font-size: 18px;
  width: 274px;
  background: $google-blue;
  border: 1px solid $google-blue;
  border-radius: 4px;
  color: #FFF;
  text-transform: none;
  margin: 12px 0;

  svg {
    display: inline-block;
    height: 42px;
    width: 42px; 
  }

  &:hover, &:active, &:focus  {
    border-color: darken($google-blue, 10%);
    background: darken($google-blue, 10%);
  }
}
