body, html {
  background: $white;
}

.password-visibility {
  position: relative;

  .password-visibility__toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: .4em;
    margin-right: 12px;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}
