// Hide Forge's built-in site chrome.
// @see: _regions/_chrome.scss
body.chromeless {
  background: $white;
}

// Hide "spinner" buttons on number fields:
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
